body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 20px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  a {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #007bff;
  }
  
  form {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  
  input, button {
    margin: 8px 5px;
    padding: 8px;
    font-size: 14px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #007bff;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  



  .chart-container {
    max-width: 80%; /* Limit the width of the charts */
    margin: 20px auto; /* Center the chart horizontally with some space at the top and bottom */
    padding: 20px;
    text-align: center; /* Center the text (like titles) */
  }
  
  .chart {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
  }
  
  canvas {
    max-width: 100%;
    height: auto;
  }
  